

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>

<script lang="js">
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('.image-upload-wrap').hide();
      
      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();
      
      $('.image-title').html(input.files[0].name);
    };
    
    reader.readAsDataURL(input.files[0]);

  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}

$('.image-upload-wrap').bind('dragover', function () {
  $(this).addClass('image-dropping');
});

$('.image-upload-wrap').bind('dragleave', function () {
  $(this).removeClass('image-dropping');
});

$('.image-upload-wrap').on('drop', function(event) {
  event.preventDefault();
  
  if (event.originalEvent.dataTransfer.items) {
    var dt = event.originalEvent.dataTransfer;
    var files = [];
    for (var i = 0; i < dt.items.length; i++) {
      var item = dt.items[i];
      if (item.kind === 'file') {
        files.push(item.getAsString(this));
      }
    }
  } else {
    var files = event.originalEvent.dataTransfer.files;
  }

  if (files.length > 0) {
    readURL(files[0]);
  }
});

</script>
<style>
  :root{
    --img-invert:0%;
}
  .file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  top: 0px;
  position: absolute;
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
  .image-upload-wrap {
    top: -250px;
    border: 6px dashed navy;
    border-radius: 8px;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: navy;
    border-radius: 8px;
    border: 6px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: navy;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin-top: 45px;
    padding: 20px;

    filter: invert(var(--img-invert));
  }
  
  .remove-image {
    margin: 0;
    top: 245px;
    left: 0px;
    position: absolute;

    color: #fff;
    background-color: rgb(255, 255, 255);
    border: 5px double #000000;
    border-radius: 5px;
    padding: 10px;
    width: 95%;

    color: #495057;
    font-size: 16px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 20px;
  }
  
  .remove-image:hover {
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    background-color: black;
    border: 5px double rgb(0, 0, 0);
    transition: all .2s ease;
  }
</style>