<div id="GSSS">
    <div id="Blu"></div>  
        <div class="TRDL" style="left: 400px;transform: rotate(90deg);"></div>
        <div class="teethfiller"></div>
        <div class="TRDL" style="left: 384.75px;transform: rotate(-90deg);"></div>
    <div id="Yellow"></div>
</div>
<style>
    .teethfiller{
        height: 15px;
        width: 6.6px;

        margin-top: 10px;
        margin-left: 876.7px;  
        position: absolute;

        background-color: rgb(255, 255, 255);
        z-index: 999999999999;
    }
    .TRDL{
      margin-top: 13px;
      margin-left: 800px;  
      position: absolute;
      z-index: 99999;
      
      width: 15px;
      border-bottom: 8px solid white;
      border-right: 7.5px solid transparent;
      border-left: 7.5px solid transparent;
      box-sizing:border-box;
    }
    #Blu{
      margin-left: 300px;  
      margin-top: 10px;
      left: 0px;
      position: absolute;
      
      height: 15px;
      width: 896px;
  
      background-color: navy;
    }
    #Yellow{

      margin-top: 10px;
      left: 1204px;
      position: absolute;
      
      height: 15px;
      width: 235px;
  
      background-color: gold;
    }
  </style>
