<div id="GSSS">
    <div id="Blu"></div>  
        <div class="TRDL" style="left: 412px;transform: rotate(90deg);"></div>
        <div class="teethfiller"></div>
        <div class="TRDL" style="left: 384.75px;transform: rotate(-90deg);"></div>
    <div id="Yellow"></div>
</div>
<style>
    .teethfiller{
        height: 40px;
        width: 8px;

        margin-top: 10px;
        margin-left: 779px;  
        position: absolute;

        background-color: rgb(255, 255, 255);
        z-index: 999999999999;
    }
    .TRDL{
      margin-top: 20px;
      margin-left:485px;  
      position: absolute;
      z-index: 99999;
      
      width: 15px;
      border-bottom: 20px solid white;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      box-sizing:border-box;
    }
    #Blu{
      margin-top: 10px;
      left: 0px;
      position: absolute;
      
      height: 40px;
      width: 900px;
  
      background-color: navy;
    }
    #Yellow{

      margin-top: 10px;
      left: 907px;
      position: absolute;
      
      height: 40px;
      width: 280px;
  
      background-color: gold;
    }
  </style>
