---
interface Props {
    title: string,
    link?: string,
}

const { title ,link = title} = Astro.props


---


<!-- I am going to self destruct -->

<script>
    

</script>

<span>
    <a href=`/Dashboard/${link}`> {title} </a>
</span>



<script>
    // @ts-check


    
</script>

<style>
    span{
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items:center ;
        
    }
    span a{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        text-decoration: none;
        transition: ease-in-out 150ms;

        

        margin: 0px;
        padding-right: 25px;
        font-size: 24px;
        font-family: 'Sanchez';
        

        color: white;
    }
    span a:hover{
        border-radius: 2px;
        border-right: 4px solid rgb(255, 255, 255);
        border-left: 5px solid rgb(255, 255, 255);
    }
</style>
