---
interface Props {
    title: string,
    link?: string,
}


const { title ,link = title} = Astro.props


---


<!-- I am going to self destruct -->

<script>
    

</script>

<span>
    <a href=`/Dashboard/${link}`> <div class="textsss">{title}</div> </a>
</span>



<script>
    // @ts-check


    
</script>

<style>
    span{
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items:center ;
        
    }
    span a{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        text-decoration: none;
        transition: ease-in-out 150ms;
        width: 275px;

        

        margin: 0px;
        padding-right: 25px;
        font-size: 24px;
        font-family: 'Sanchez';
        padding-top: 10px;
        padding-bottom: 10px;

        border-radius: 5px;
        

        color: var(--nav-txt-color);
    }
    .textsss{
        transition: ease 250ms;
    }
    span a:hover{
        background-color: var(--nav-bg-color);

        box-shadow: -15px 0px var(--nav-box-hover);
        padding-right: 20px;

        translate: 5% 0%;
        .textsss{
            transform: skew(-15deg);
        }
    }
</style>
