<header>
    <span>Welcome Name</span>
    <span style="font-size: 20px;">NSP{0}</span>
    <body>
</header>

<style>
    span {
        padding: 30px;
        color: black;
        font-size: 30px;
    }
    header {
        background-color: whitesmoke;
        border-bottom: 5px double black;
        height: 100px;
        top: 0px;
        left: 300px;
        width: 100%;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 99;
        position: fixed;
        overflow-x: hidden;
    }

</style>
