---
import Setting from '../menu/Setting.astro';
---
<header>
    <span>NAME
    <span class="NSText">NS{0}</span>
    </span>
    <Setting></Setting>
</header>

<style>
    span {
        padding: 30px;
        color: black;
        font-size: 30px;
    }
    header {
        background-color: whitesmoke;
        border-bottom: 5px double black;
        height: 100px;
        top: 0px;
        left: 300px;
        width: 100%;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 99;
        position: fixed;
    }
    .NSText {
        display: flex;
        position: absolute;
        top: 60%;
        left: 20px;
        padding: 10px;
        color: gray;
        font-size: 25px;
        }
</style>
