---
import Layout from '../../layouts/Layout.astro';
---
<Layout title='Home'></Layout>
<body>
Test
</body>

<style>
  body {
            position: relative;
            height: 100vh;
            margin: 0;
            overflow: hidden;
        }

</style>