---
import Layout from '../../layouts/Layout.astro';
---
<Layout title='Home'></Layout>
<body>
<span>Test</span>
</body>

<style>
  body {
            position: relative;
            height: 100vh;
            margin: 0;
        }
        
        span {
            position: absolute; 
            top: 100px;
            left: 300px;
            background-color: wheat; 
            z-index: 97;
            padding: 10px; 
            color: rgb(0, 0, 0); 
            font-size: 16px; 
            width: 100%;
            height: 100%;
        }

</style>