<body>

    <span>
    <div id="Login">Login</div>
    </span>

<style>

span {
    border-radius: 10px;
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: whitesmoke;
    z-index: 99;
    padding: 10px;
    color: rgb(0, 0, 0);
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Login{
    font-size: 30px;
</style>
</body>
