---
import Dashboard from "../../layouts/Dashboard.astro";
import DropDown from '../../components/Repeat/Dropdown.astro'

import Clock from '../../components/One_Time_Use/Clock.astro'
---

<Dashboard title='Home'>
        <DropDown DWName="Test"> <div id="myDropdown" class="dropdown-content"><Clock></Clock></div> </DropDown>
</Dashboard>
