---
import Layout from '../../layouts/Layout.astro';
import Bed from '../../layouts/Bed.astro';
import Home from '../../components/Pages/Ribbon.astro';
import Dashboard from '../../layouts/Dashboard.astro';
---
<Home></Home>
<Layout title='Home'>
    
</Layout>
<Bed></Bed>
</head>
<body>



</body>
<style>
    Home{
        z-index: 999;
    }
</style>
</html>
