---
import Layout from '../../layouts/Layout.astro';
import Bed from '../../layouts/Bed.astro';
import Home from '../../components/Pages/Ribbon.astro';
---

<Layout title='Home'></Layout>
<Bed></Bed>
</head>
<body>

<Home></Home>

</body>
<style>
    Home{
        z-index: 999;
    }
</style>
</html>
