---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Pages/Login.astro'
---

<Layout title='Login'></Layout>
<body>
<Box></Box>
<style>
body {
    background-image: url('https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/beach-ocean-waves-aerial-view-scenery-4k-wallpaper-uhdpaper.com-562%400%40i.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</body>
