---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Pages/Login.astro';
---

<Layout title="Login">
    <div id="Status"><!-- Uncomment for place holder: Error 404: Lorem Ipsum --></div>
    <a id="hiddenRedirectionBecauseAstroOnlyDoesThisNow" href="/Dashboard/Home">this is supposed to be hidden</a>
    <span>
        <div id="Login" class="sanchez-regular">
            Login
            <img src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/NJROTC-Seal.svg" style="top:130%; position:absolute; width: 80px; height: 80px;">
        </div>
        <form id="The-Login-Form">
            <div class="login-form">
                <div class="input-group">
                    <label for="username"></label>
                    <input placeholder="Saul Sanchez" type="text" id="username" name="username" required aria-required="true" class="input-text-large">
                </div>
                <div class="input-group password-container"  style="padding-down: 50px;">
                    <label for="password"></label>
                    <input placeholder="Parlier1" type="password" id="password" name="password" required aria-required="true" class="input-text-large">
                </div>
                <div class="input-group" style="padding-top: 50px;">
                    <button class="sanchez-regular">Login</button>
                </div>
            </div>
        </form>
    </span>
</Layout>

<!-- screw this im setting the default language to js -->
<script lang="js">
    /**
     * @type {HTMLFormElement}
     */
    let form = document.getElementById("The-Login-Form")

    // these are notes because I forget what this does
    form.onsubmit = async (ev)=>{
        ev.preventDefault() // stop it from loading it and putting it in url, its dam spegetti

        //All this does is just parse form to json
        const formData = new FormData(form);
        const jsonObject = {};
        formData.forEach((value, key) => {
            jsonObject[key] = value;
        });
        console.log("Parsed Data" + JSON.stringify(jsonObject))

        //Send request with data
        const Response = await fetch("http://localhost:8080/api/alpha/v1/users/login",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(jsonObject)
        })
        /**
         * @type {{success:Boolean,message:String}}
         */
        const Data = await Response.json()

        if(Data.success){
            document.getElementById("hiddenRedirectionBecauseAstroOnlyDoesThisNow").click()
        }else{
            document.getElementById("Status").innerText = `Error ${Response.status}: ${Data.message}`
        }
    }

</script>


    <style>
        button {
            font-size: 20px;
            padding: 10px;
            border: none;
            outline: none;
            cursor: pointer;
            background: linear-gradient(300deg, #105c69, #3c9d9e, #7db5b6, #c8dae5);
            border-radius: 5px;
            position: relative;
            z-index: 1;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        button:hover {
            transform: scale(1.05); 
            box-shadow: 15px 15px 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.23);
        }    
    #Login {
            padding: 10px;
            position: relative;
            font-size: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            border-radius: 10px;
            z-index: 99;
            top: 0%;
            width: 30%;

            opacity: 70%;
        }

        span {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            background-color: whitesmoke;
            z-index: 99;
            padding: 10px;
            color: rgb(0, 0, 0);
            width: calc(30% - 25px);
            height: calc(80% - 25px);
            display: grid;
            justify-items: center;
            align-items: start;
            border-radius: 10px;

            box-shadow: 0 0 1rem #0003;
            background-color: #ffffff26;
            backdrop-filter: blur(5px);
        }

        .login-form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .input-group {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
        .input-group input[type="text"],
        .input-group input[type="password"] {
            width: 100%;
            height: 40px;
          outline: none;
        }
        .input-group input[type="text"]::placeholder,
        .input-group input[type="password"]::placeholder {
        color: rgb(0, 0, 0);
        opacity: 1; /* Firefox */
        }

        .input-group input[type="text"]::-ms-input-placeholder,
        .input-group input[type="password"]::-ms-input-placeholder { /* Edge 12-18 */
        color: rgb(0, 0, 0);
        }
        .input-text-large {
            font-size: 24px;
        }
        /* Ensures the custom focus style is visible against the background */
        .input-group input[type="text"],
        .input-group input[type="password"] {
            background: none;
            border: double;
            border-top: none;
            border-left: none;
            border-right: none;

            color: #000;
        }
        .sanchez-regular {
            font-family: "Sanchez", serif;
            font-weight: 400;
            font-style: normal;
        }
        .sanchez-regular-italic {
        font-family: "Sanchez", serif;
        font-weight: 400;
        font-style: italic;
        }

    </style>

<!--
<Layout title='Login'></Layout>
<body>
<Box></Box>
<style>
body {
    background-image: url('https://images.unsplash.com/photo-1511307172940-38ec278f7ce2?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</body>
-->