---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Pages/Login.astro';
---

<Layout title="Login">
    <span style="border: 10px rgb(0, 0, 0) double;">
        <div id="Login" class="sanchez-regular">
            Login
            <img src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/NJROTC-Seal.svg" style="top:130%; position:absolute; width: 60px; height: 60px;">
        </div>
        <form id="The-Login-Form">
            <div class="login-form">
                <div class="input-group">
                    <label for="username"></label>
                    <input placeholder="Saul Sanchez" type="text" id="username" name="username" required aria-required="true" class="input-text-large">
                </div>
                <div class="input-group password-container"  style="padding-down: 50px;">
                    <label for="password"></label>
                    <input placeholder="Parlier1" type="password" id="password" name="password" required aria-required="true" class="input-text-large">
                </div>
                <div class="input-group" style="padding-top: 50px;">
                    <button class="sanchez-regular">Login</button>
                </div>
            </div>
        </form>
    </span>
</Layout>

<!-- screw this im setting the default language to js -->
<script lang="js">
    /**
     * @type {HTMLFormElement}
     */
    let form = document.getElementById("The-Login-Form")

    form.onsubmit = async (ev)=>{
        ev.preventDefault() // stop it from loading it and putting it in url, its dam spegetti

        const formData = new FormData(form);
        const jsonObject = {};
        formData.forEach((value, key) => {
            jsonObject[key] = value;
        });
        console.log(JSON.stringify(jsonObject))

        let loginResponse = await fetch("http://localhost:8080/api/alpha/v1/users/login",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(jsonObject)
        }).then(((res)=>{
            console.log(res)
            if(res.ok){
                return res.text()
            }else{
                throw new Error("welp something messed up")
            }
        })).then((data)=>{
            console.log(data)
            if(data){
                window.location.href = "/Dashboard/Home"
            }else{
                // code goes here for handleing incorrecto username/pwasord
            }
        }).catch((err)=>{
            console.log(err)
        })
        console.log(jsonObject);
    }

</script>


    <style>
        button{
            font-size: 20px;
            padding: 10px;
            border: none;
            outline: none;
            cursor: pointer;
            background: linear-gradient(300deg, #105c69, #3c9d9e, #7db5b6, #c8dae5);
            border-radius: 5px;
            position: relative;
            z-index: 1;
            transition: background 3s ease;
            border: 10px whitesmoke double;
        }
        button:hover{
            background: linear-gradient(310deg, #105c69, #3c9d9e, #7db5b6, #c8dae5);
        }
        #Login {
            padding: 10px;
            position: relative;
            font-size: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            border-radius: 10px;
            z-index: 99;
            top: 0%;
            width: 30%;
        }

        span {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            background-color: whitesmoke;
            z-index: 99;
            padding: 10px;
            color: rgb(0, 0, 0);
            width: 30%;
            height: 80%;
            display: grid;
            justify-items: center;
            align-items: start;
            border-radius: 10px;
        }

        .login-form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .input-group {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
        .input-group input[type="text"],
        .input-group input[type="password"] {
            width: 100%;
            height: 40px;
          outline: none; /* Remove default focus border */
        }

        .input-text-large {
            font-size: 24px;
        }
        /* Ensures the custom focus style is visible against the background */
        .input-group input[type="text"],
        .input-group input[type="password"] {
            background-color: whitesmoke;
            border: double;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .sanchez-regular {
            font-family: "Sanchez", serif;
            font-weight: 400;
            font-style: normal;
        }
        .sanchez-regular-italic {
        font-family: "Sanchez", serif;
        font-weight: 400;
        font-style: italic;
        }

    </style>

<!--
<Layout title='Login'></Layout>
<body>
<Box></Box>
<style>
body {
    background-image: url('https://images.unsplash.com/photo-1511307172940-38ec278f7ce2?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</body>
-->