---
import Layout from '../layouts/Layout.astro';
import Bed from '../layouts/Bed.astro';
import Home from '../components/Pages/Home.astro';
---

<Layout title='Home'></Layout>
</head>
<body>
<Bed></Bed>
<Home></Home>

</body>
</html>
