---
    import Link from "../../../components/menu/Link.astro";
    import "./menu.less"
---

<div id="MSectionAdmin">
    <div id="MSectionAdmin-title">Admin Menu</div>
    <Link title="Pending"></Link>
</div>




<script>

</script>