---
import Link from "../components/menu/Link.astro";
import Setting from '../components/menu/Setting.astro';
import Fvfer from '../components/SmalCompents/Line.astro';
import "./Dashboard.css";
interface Props {
	title: string;
}

const { title } = Astro.props;

---


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/c5cddb2fd71a4737ac4ae89491347a84d3608f23/Other/NJROTC-Seal.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DashBoard | {title}</title>
</head>
<body>
    <div id="Dashboard-Title">
        <img src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/c5cddb2fd71a4737ac4ae89491347a84d3608f23/Other/NJROTC-Seal.svg">
        <h1>NJROTC Dashboard</h1>
    </div>
    <header id="Dashboard-Header">
        <div id="User-Info">
            <h1> Cadet <span id="User-Rank">Seaman Recruit</span> <span id="User-Name">Sanchez</span></h1>
            <h3>NS<span id="Class-Name">0</span></h3>
            <Fvfer></Fvfer>
        </div>
    </header>
    <nav id="Dashboard-Navigation">
        <Link title="Home">Home</Link>
        <hr>
        <Link title="Request">Request</Link>
    </nav>
    <main id="Dashboard-Content">
        <slot></slot>
    </main>
    <Setting></Setting>
</body>
<style>
        hr{
        width: 10px;
        margin-right: 156px;
        margin-bottom: 0px;
    }
</style>
</html>