:root{
    --nav-width:300px;
    --nav-bg-color:navy;
    --nav-txt-color:white;

    --header-height:105px;
    --header-bg-color:whitesmoke;
    --header-border:5px double black;

    --main-content-color:wheat;
}



body{
    display: grid;
    grid-template-areas:
    "tile head head"
    "navi main main"
    "navi main main"
    ;
    grid-template-columns: var(--nav-width) 1fr 1fr;
    grid-template-rows: var(--header-height) 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;

    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;

    margin:0;
    padding:0;

    font-family: 'Sanchez'
}

#Dashboard-Title{
    grid-area: tile;

    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 5px;

    border-bottom: var(--header-border);
    background: var(--nav-bg-color);
    color: var(--nav-txt-color);
}
#Dashboard-Title img{
    width: 40px;
    height: 40px;
}
#Dashboard-Title h1{
    font-size: 20px;
    font-family: 'Sanchez','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#Dashboard-Header{
    grid-area: head;

    padding-left: 20px;

    display: flex;
    align-items: center;

    border-bottom: var(--header-border);
    background-color: var(--header-bg-color);
}
#Dashboard-Header h1{
    font-weight: normal;
    margin: 0;
}
#Dashboard-Header h3{
    font-weight: normal;
    color:grey;
    margin: 0;
}

#Dashboard-Navigation{
    grid-area: navi;


    background: var(--nav-bg-color);
    color: var(--nav-txt-color);
}
#Dashboard-Navigation Link{
    box-sizing: border-box;

    display: flex;

    align-items: center;
    justify-content: center;

    font-family: 'Sanchez';
    font-size: 25px;

    height: 50px;
    width: 100%;
    max-width: 100%;

    border-inline: 0px solid white;
    color:white;
    text-decoration: none;
    text-align: center;

    transition: 250ms;
    transition:font  ;

}
#Dashboard-Navigation Link:hover{
    transform: skewX(-20deg);
}
#Dashboard-Navigation Link:hover{
    transform: skewX(0deg);
    border-inline: 5px solid white;
}



#Dashboard-Content{
    grid-area: main;
    background: var(--main-content-color);

    padding: 10px;

    overflow-x: hidden;
    overflow-y: scroll;

    z-index: -1;
}
Link{
    font-family: 'Sanchez'
}
