---
interface Props {
	title: string;
	backgroundImg?:string;
}

const { title, backgroundImg = "" } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/c5cddb2fd71a4737ac4ae89491347a84d3608f23/Other/NJROTC-Seal.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DashBoard | {title}</title>
		<style>
			body{
				background: url('https://images.unsplash.com/photo-1511307172940-38ec278f7ce2?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;

				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				-webkit-user-drag: none;
				-moz-user-drag: none;
				-ms-user-drag: none;
			}
			img {
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				-webkit-user-drag: none;
				-moz-user-drag: none;
				-ms-user-drag: none;
			}
			
		</style>
	</head>
	<body>
		<slot></slot>
	</body>
</html>
