<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Sign-In Example</title>
    <meta name="google-signin-client_id" content="173246410645-dvhdj5hjj5jsa1decl670sb2k51n2mmt.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <h2>User Information:</h2>
    <pre id="userInfo"></pre>

    <button onclick="signOut()">Sign out</button>

    <script lang="js">
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend!
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());

            document.getElementById('userInfo').textContent =
                'ID: ' + profile.getId() + '\n' +
                'Name: ' + profile.getName() + '\n' +
                'Image URL: ' + profile.getImageUrl() + '\n' +
                'Email: ' + profile.getEmail();
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                document.getElementById('userInfo').textContent = '';
            });
        }
    </script>
</body>
</html>
